    .Button,.InButton1,.InButton2,.InButton3 {
        background-color: #2d2d2d;
        border-radius: 8px;
        border: none;
        color: #f9f9f9;
        padding: 12px 16px;
  	float: right;
        text-align: center;
        text-decoration: none;
        font-family: '华康方圆体W7',sans-serif;
        display: inline-block;
        outline: none;
        font-size: 15px;
        margin: 4px 2px;
        box-shadow: 0 1px 0px 0 rgba(0,0,0,0.2);
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
        border: 1px solid #32373c;
  }
      .Button:hover,.InButton1:hover,.InButton2:hover,.InButton3:hover {
        background-color: #323232;
      }
    .Button:active,.InButton1:active,.InButton2:active,.InButton3:active {
        background-color: #272727;
        box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
        color: #adb0b2;
    }
    .InButton1 {
        border-radius: 6px;
        padding: 10px 10px;
        font-size: 13px;
  }
    .InButton2 {
        border-radius: 6px;
        padding: 6px 20px;
        font-size: 13px;
  }
    .InButton3 {
        border-radius: 6px;
        padding: 10px 23px;
        font-size: 13px;
        margin-left:435px;
  }